.form-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 20px;
}

.form-left label {
  width: 90px;
  font-weight: bold;
  color: red;
  display: inline-block;
}

.form-row {
  margin-bottom: 20px;
}

.select-group {
  display: flex;
  gap: 10px;
}

select,
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.form-right {
  background: white;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.6;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  margin-top: 25px;
  background: #0046c8;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
